<div class="container--wrap fade-in-from-top anim-delay--5 m--1 g--10 center">
        <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <div>
                <label for="email">E-mail</label>
                <input type="text" formControlName="email"  />
                <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched" class="help-block color--red">E-mail is required</div>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" formControlName="password"/>
                <div *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched" class="help-block color--red">Password is required</div>
            </div>
            <div>
                <input type="submit" value="Submit" class="btn--primary"[disabled]="!loginForm.valid">
            </div>
        </form>
</div>