<h2 class="container--baseline fade-in-from-top anim-delay--3 m--1 g--10">Add a new property</h2>
<div class="container--wrap fade-in-from-top anim-delay--5 m--1 g--10 center">
    <form (ngSubmit)="addProperty()" [formGroup]="updatePropertyForm" novalidate>
        <label>Location</label>
        <input type="text" formControlName="pLocation">
        <span class="color--red" *ngIf="updatePropertyForm.controls.pLocation.invalid && updatePropertyForm.controls.pLocation.touched">
          Please enter a valid location.
        </span>
        <label>Price</label>
        <input type="text" formControlName="pPrice">
        <span class="color--red" *ngIf="updatePropertyForm.controls.pPrice.invalid && updatePropertyForm.controls.pPrice.touched">
          Please enter a valid price.
        </span>
        <label>Type</label>
        <input type="text" formControlName="pType">
        <span class="color--red" *ngIf="updatePropertyForm.controls.pType.invalid && updatePropertyForm.controls.pType.touched">
          Please enter a valid type.
        </span>
        <Label>Description</Label>
        <input type="text" formControlName="pDescription">
        <span class="color--red" *ngIf="updatePropertyForm.controls.pDescription.invalid && updatePropertyForm.controls.pDescription.touched">
          Please enter a description.
        </span>
        <Label>Image URL</Label>
        <input type="text" formControlName="pSrc">
        <span class="color--red" *ngIf="updatePropertyForm.controls.pSrc.invalid && updatePropertyForm.controls.pSrc.touched">
          Please enter a valid URL.
        </span>
        <br>
        <label id="residential"> Residential</label>
        <input type="checkbox" formControlName="isResidential" value="isResidential" checked>
        <br><br>
        <div>
            <input type="submit" value="Submit" class="btn--primary"[disabled]="!updatePropertyForm.valid">
            <input type="reset" value="Reset" class="btn--secondary">
        </div>
      </form>
</div>
