<h2 class="subtitle container--baseline fade-in-from-top anim-delay--3 m--1 g--10">Viewing single property in {{property.pLocation}} ..</h2>
<div class="container--wrap fade-in-from-top anim-delay--3 m--1 g--10 center">
        <div class="card g--12 g-s--12 anim-delay--5">
            <img src="{{property.pImage}}" >
            <h3><br>{{property.pLocation}}, {{property.pType}}</h3>
            <h4 class="color--nephritis">€{{property.pPrice}}</h4>
            <h5 *ngIf=property.isResidential class="color--asbestos">Residential Property</h5>
            <h5 *ngIf=!property.isResidential class="color--asbestos">Property not residential</h5>
            <h6 class="color--asbestos">{{property.pDescription}}</h6>
            <button type="button" class="btn--primary" *ngIf="isEmployee()" [routerLink]="['/editProperty',property._id]">Edit</button>
</div>
    
<div class="container--baseline fade-in-from-top anim-delay--7 m--1 g--10">
    <button type="button" [routerLink]="['/properties']" class="btn--primary m--1 g--10">Go Back</button>
</div>

