<header class="container--baseline color--concrete">
    <h1 class="m--1 g--8">Attard Properties</h1>
    <input type="checkbox" id="nav--horizontal-responsive">
    <label for="nav--horizontal-responsive">MENU</label>
    <nav class="nav--horizontal">
        <ul>
          <li routerLinkActive="active" routerLink='home'><a>Home</a></li>
          <li routerLinkActive="active" routerLink='aboutus'><a>About</a></li>
          <li routerLinkActive="active" routerLink='properties'><a>Properties</a></li>
          <li *ngIf="!isLoggedIn()" routerLinkActive="active-primary" routerLink='login'><a>Login</a></li>
          <li *ngIf="!isLoggedIn()" routerLinkActive="active-primary" routerLink='signup'><a>Signup</a></li>
          <li *ngIf="isLoggedIn()" routerLinkActive="active-primary" routerLink='logout'><a>Logout</a></li>
        </ul>
  </nav>
  </header>