<h2 class="container--baseline fade-in-from-top anim-delay--3 m--1 g--10">Update property details</h2>
<div class="container--wrap fade-in-from-top anim-delay--5 m--1 g--10 center">
    <form (ngSubmit)="updateProperty()" [formGroup]="updatePropertyForm" novalidate>
        <label>Location</label>
        <input type="text" formControlName="pLocation" [(ngModel)]="property.pLocation">
        <span class="color--red" *ngIf="updatePropertyForm.controls.pLocation.invalid && updatePropertyForm.controls.pLocation.touched">
          Please enter a valid location.
        </span>
        <label>Price</label>
        <input type="text" formControlName="pPrice" [(ngModel)]="property.pPrice">
        <span class="color--red" *ngIf="updatePropertyForm.controls.pPrice.invalid && updatePropertyForm.controls.pPrice.touched">
          Please enter a valid price.
        </span>
        <label>Type</label>
        <input type="text" formControlName="pType" [(ngModel)]="property.pType">
        <span class="color--red" *ngIf="updatePropertyForm.controls.pType.invalid && updatePropertyForm.controls.pType.touched">
          Please enter a valid type.
        </span>
        <Label>Description</Label>
        <input type="text" formControlName="pDescription" [(ngModel)]="property.pDescription">
        <span class="color--red" *ngIf="updatePropertyForm.controls.pDescription.invalid && updatePropertyForm.controls.pDescription.touched">
          Please enter a description.
        </span>
        <Label>Image URL</Label>
        <input type="text" formControlName="pSrc" [(ngModel)]="property.pImage">
        <span class="color--red" *ngIf="updatePropertyForm.controls.pSrc.invalid && updatePropertyForm.controls.pSrc.touched">
          Please enter a valid URL.
        </span>
        <br>
        <label id="residential"> Residential</label>
        <input type="checkbox" formControlName="isResidential" value="isResidential" checked>
        <br><br><br>
        <div>
            <input type="submit" value="Submit" class="btn--primary"[disabled]="!updatePropertyForm.valid">
            <input type="button" value="Cancel" class="btn--primary" [routerLink]="['/properties',property._id]">
        </div>
      </form>      
</div>