<h2 class="container--baseline fade-in-from-top anim-delay--3 m--1 g--10">Welcome | Merħba</h2>
<h6 class="subtitle container--baseline fade-in-from-top anim-delay--3 m--1 g--10">You may be forcing yourself to stay away from the Gozitans, but we all know where the best properties are found ..</h6>
<div class="container--wrap fade-in-from-top anim-delay--5 m--1 g--10">
    <div *ngFor="let property of properties" class="g--4 g-s--12 anim-delay--5">
        <div class="card">
            <img src="{{property.pImage}}">
            <h3><br>{{property.pLocation}}, {{property.pType}}</h3>
            <h5>€{{property.pPrice}}</h5>
        </div>
    </div>
</div>