<h2 class="container--baseline fade-in-from-top anim-delay--3 m--1 g--10">All Properties</h2>
<h6 class="subtitle container--baseline fade-in-from-top anim-delay--3 m--1 g--10">Filter:<input class="subtitle" [(ngModel)]="searchText" type="text" name="search"></h6>
<h6 class="subtitle container--baseline fade-in-from-top anim-delay--3 m--1 g--10">Interested in one? Hit the image to view a detailed page.</h6>
<div class="container--wrap fade-in-from-top anim-delay--3 m--1 g--10">    
    <div *ngFor="let property of properties | filter:searchText" class="g--4 g-s--12 anim-delay--5">
        <div class="card">
                <img [routerLink]="['/properties',property._id]" src="{{property.pImage}}">
                <h3><br>{{property.pLocation}}, {{property.pType}}</h3>
                <h5>€{{property.pPrice}}</h5>
                <button type="button" class="btn--primary" *ngIf="isEmployee()" [routerLink]="['/editProperty',property._id]">Edit</button>
                <button type="button" (click)="deleteProperty(property._id, page.page, page.pages)" class="btn--primary" *ngIf="isEmployee()">Delete</button>
        </div>
    </div>
</div>
<div class="container--baseline fade-in-from-top anim-delay--7 m--1 g--10 center">
    <nav class="nav--horizontal center">
        <ul *ngIf="page && page.pages">
                <li [ngClass]="{disabled:page.page === 1}">
                <button type="button" (click)="populatePage(1)" class="btn--primary">Page 1</button>
                </li>
                <li [ngClass]="{disabled:page.page === 1}">
                <button type="button" (click)="previousPage(page.page)" class="btn--secondary">Prev</button>
                </li>
                <li [ngClass]="{active:page.page === page.page}">
                <button type="button" (click)="populatePage(page.page)" class="btn--green">{{page.page}}</button>
                </li>
                <li [ngClass]="{disabled:page.page === page.pages}">
                <button type="button" (click)="nextPage(page.page)" class="btn--secondary">Next</button>
                </li>
                <li [ngClass]="{disabled:page.page === page.pages}">
                <button type="button" (click)="populatePage(page.pages)" class="btn--primary">Page {{page.pages}}</button>
            </li>
        </ul>
    </nav>
</div>
    <div class="container--baseline fade-in-from-top anim-delay--7 m--1 g--10">
    <button type="button" class="btn--primary m--1 g--10" *ngIf="isEmployee()" [routerLink]="['/addProperty']">Add Property</button>
</div>
