<app-navigation></app-navigation>
<alert></alert>
  <router-outlet></router-outlet>
 <div>
     <h3 class="container--baseline fade-in-from-top anim-delay--7 m--1 g--10">Attard Properties Limited</h3>
     <p class="container--justify fade-in-from-top anim-delay--7 m--1 g--10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel fugit quasi quaerat culpa nostrum cupiditate totam ea quisquam consectetur dolores ad esse repellat vitae natus cumque, voluptas debitis perferendis quam tempore recusandae. Modi molestias sequi nesciunt dolore facere enim nemo corporis odio quaerat nisi praesentium vitae culpa dolor, commodi architecto sapiente. Sint assumenda quibusdam ut iste et autem dolor, dolorum temporibus nesciunt error perspiciatis ad explicabo similique. Nobis, rerum omnis!</p>
</div>
<footer class="container--baseline color--concrete">
      <div class="g--5 m--1">
        This is a test site and has been developed for learning purposes. Thanks for visiting.
      </div>
</footer>