<h2 class="container--baseline fade-in-from-top anim-delay--3 m--1 g--10">Register</h2>
<div class="container--wrap fade-in-from-top anim-delay--5 m--1 g--10 center">
    <form (ngSubmit)="register()" [formGroup]="signupForm" novalidate>
        <label>Name</label>
        <input type="text" formControlName="firstName">
        <span class="color--red" *ngIf="signupForm.controls.firstName.invalid && signupForm.controls.firstName.touched">
          Please enter a valid Name. <br>
        </span>
        <label>Surname</label>
        <input type="text" formControlName="lastName">
        <span class="color--red" *ngIf="signupForm.controls.lastName.invalid && signupForm.controls.lastName.touched">
          Please enter a valid Surname. <br>
        </span>
        <div formGroupName="emailGroup">
          <label>E-mail</label>
          <input type="email" formControlName="email">
          <span class="color--red" *ngIf="signupForm.get('emailGroup.email').invalid && signupForm.get('emailGroup.email').touched">
            Please enter a valid email. <br>
          </span>
          <label>Confirm E-mail</label>
          <input type="email" formControlName="confirmMail">
          <span class="color--red" *ngIf="!signupForm.get('emailGroup.email').invalid && signupForm.controls.emailGroup.invalid && signupForm.get('emailGroup.confirmMail').touched">
            Emails do not match. <br>
          </span>
        </div>
        <label>Password</label>
        <input type="password" formControlName="password">
        <span class="color--red" *ngIf="signupForm.controls.password.invalid && signupForm.controls.password.touched">
          Password does not meet complexity requirements. <br>
        </span>
        <label>Mobile No. : </label>
        <input type ="tel" formControlName="phone">
        <span class="color--red" *ngIf="signupForm.controls.phone.invalid && signupForm.controls.phone.touched">
          Please enter a valid mobile number. <br>
        </span>
        <br><br>
        <label id = "notification">Notifications via: </label>
        <input type = "radio" name = "sendNotifications" formControlName = "sendNotifications" value = "email" checked> E-mail
        <input type="radio" name = "sendNotifications"formControlName = "sendNotifications" value="text"> SMS
        <br><br>
        <label id = "catalogue" > I would like to receive the property catalogue</label>
        <input type = "checkbox" formControlName = "sendCatalog" value = "catalogue" checked>
        <br><br>
        <input type="submit" value="Submit" class="btn--primary" [disabled]="!signupForm.valid">
        <input type="reset" value="Reset" class="btn--secondary">
        <br><h6 class="color--grey">You will be required to login after pressing Submit.</h6>
      </form>      
</div>

